body{
    font-family: 'Epilogue', sans-serif;
    background-color: var(--almost-white);
    max-width: 1440px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.menu-close{
    display: none;
}

header nav{
    width: 70%;
}

header .menu-principal{
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 40px;
    font-size: 14px; 
    position: relative;
    color: var(--medium-gray);
}

header .menu-principal img{
    margin-left: 9px;
}

header .menu-principal li{
    padding: 10px;  
}

header .menu-principal li:hover{
    color: #151515;
    cursor: pointer;
}

header .menu-principal li:hover img{
    transform: rotate(180deg);
}

header .menu-principal .sub-menu .icon{
    margin-right: 15px;
}

.sub-menu{
    display: none;
}

header .menu-principal li:hover .sub-menu{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    padding: 30px;
    background-color: #fff;
    left: -60px;
    margin-top: 10px;
    border-radius: 10px;
}
header .menu-principal li:hover .sub-menu.company{
    left: 100px;
}

.register-mobile{
    display: none;
}

.register-desktop{
    display: flex;
    gap: 40px;
    
}

.register-desktop button, .register-mobile button{
    background: none;
    color: var(--medium-gray);
    border: none;
    padding: 13px 22px;
    cursor: pointer;
    border-radius: 14px;
}

.register-desktop button:hover, .register-mobile button:hover{
    color: #151515;
}

.register-desktop .btn-register, .register-mobile .btn-register{
    border: 1.5px solid var(--medium-gray);
}

.register-desktop .btn-register:hover, .register-mobile .btn-register:hover {
    border: 1.5px solid #151515;
}

.menu-hamburguer{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;;
    gap: 125px;
    padding: 30px;
    min-height: calc(100vh - 110px);
}
main picture{
    width: 30%;
}
main .informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 530px;
}

main .informations .title{
    color: #151515;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.111px;
    margin-bottom: 48px;
}

main .informations .content{
    color: var(--medium-gray, #686868);
    font-family: Epilogue;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width: 445px;
    margin-bottom: 51px;
}

main .informations .learn-more{
    color: var(--almost-white);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.25px;
    border-radius: 15px;
    background: #151515;
    align-self: flex-start;
    padding: 15px 28px 13px 31px;
    margin-bottom: 116px;
    border: 1px solid transparent;
}

main .informations .learn-more:hover{
    background: #fff;
    color: #151515;
    border: 1px solid #151515;
}

main .informations .logos{
    display: flex;
    gap: 40px;
}

main .hero-img{
    max-width: 100%;
    height: 100%;
}